POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=test

POSTGRES_USER=example
POSTGRES_PASSWORD=password

DOMAIN=http://localhost:8000

MAIL_USER=email@mail.ru
MAIL_PASSWORD=password
MAIL_HOST=smtp.mail.ru
MAIL_PORT=465

YANDEX_API_TOKEN=yandex-token


VK_CLIENT_ID=1
VK_SECURE_TOKEN=supersecuretoken
VK_SERVICE_TOKEN=superservicetoken
VK_REDIRECT_URI=http://localhost:8000/vk/auth
