fastapi~=0.109.2
sqlalchemy~=2.0.27
asyncpg~=0.29.0
alembic~=1.13.1
python-jose~=3.3.0
python-dotenv~=1.0.1
passlib~=1.7.4
python-jose~=3.3.0
python-multipart~=0.0.9
pydantic_settings~=2.2.1
greenlet~=3.0.3
uvicorn~=0.27.1
httpx~=0.26.0
bcrypt~=4.1.2
aiofiles~=23.2.1