<!DOCTYPE html>
<html>
<head>
    <title>Мы нашли донора для {{ pet_name }} </title>
</head>
<body>
    <p>Здравствуйте, {{ fullname }}</p>
    <p>Мы рады сообщить, что на нашем сервисе DonorPet удалось найти донора для вашего питомца {{ pet_name }}.</p>
    <p>Пожалуйста, свяжитесь с нами по следующей ссылке, чтобы узнать подробности и организовать встречу: {{ link_to_details }}</p>
    <p>Если у вас возникнут вопросы, не стесняйтесь обращаться к нам.</p>
    <p>С уважением, команда DonorPet!</p>
</body>
</html>